/*

a .btn-large
{
	border: 1px solid #ffffff;
}

nav {
    height: 30px;
    line-height: 30px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 30px;
    line-height: 30px;
}

nav .button-collapse i {
    height: 30px;
    line-height: 30px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 30px;
        line-height: 30px;
    }
}
*/

.fa {
	padding: 7px;
  font-size: 14px;
  width: 28px;
	height: 28px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
	background-color: white;
	color: black;
}

.fa:hover {
    opacity: 0.7;
		color: inherit;
}


.letra{
	color: #efb35b;
}

.boton{
	background-color: #365593;
}
